{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
    <div class="padding"></div>

    {{ form_start(registrationForm) }}
        {{ form(registrationForm) }}
    <div class="button">
        <div class="padding"></div>
        <button type="submit">
            S'inscrire
        </button>
        <div class="padding"></div>
        <div class="forget-password">
            <p>Déjà membre ? <a href="{{ path('app_login') }}">Se connecter.</a></p>
        </div>
    </div>
    {{ form_end(registrationForm) }}

    <div class="padding"></div>
    <div class="padding"></div>
{% endblock %}
