{% extends 'base.html.twig' %}

{% block title %}EniSorties | Inscription{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.sexe) }}
    {{ form_row(registrationForm.telephone) }}
    {{ form_widget(registrationForm.agreeTerms) }}
    {{ form_label(registrationForm.agreeTerms) }}

    <div class="button">
        <div class="padding"></div>
        <button type="submit">S'inscrire</button>
        <div class="padding"></div>
        {% if 'ROLE_ADMIN' not in app.user.roles %}
        <div class="forget-password">
            <p>Déjà membre ? <a href="{{ path('app_login') }}"><b>Se connecter</b></a></p>
        </div>
        {% endif %}
    </div>
    {{ form_end(registrationForm) }}

    <div class="padding"></div>
    <div class="padding"></div>

{% endblock %}
