<nav class="bg-nav navbar navbar-expand-lg mb-3">
    <div class="container-fluid">

        <div class="logo">
            <img class="me-2 w-25 p-2" src="{{ asset('/img/logo.png') }}" alt="logo">
            <a class="logo" href="{{ path('app_main') }}">EniSorties</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item">
                        <a class="nav-link active button-without-background" href="{{ path('app_profil', {'id' : app.user.id}) }}">Profil <i class="fa-solid fa-chevron-down"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active button-without-background" href="{{ path('app_sortie_index') }}">Sorties <i class="fa-solid fa-chevron-down"></i></a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if not is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item">
                        <a class="nav-link button-without-background" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button-background" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link button-background" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>