{% extends 'base.html.twig' %}

{% block title %}EniSorties | Profil{% endblock %}

{% block body %}


    <div class="padding"></div>

    <section style="background-color: #eee;width:90%;padding: 20px">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if user.posterFile is null %}
                            {% if user.sexe =='femme' %}
                                <img src="{{ asset('img/avatarFemme.png') }}"
                                     alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            {% else %}
                                <img src="{{ asset('img/avatarHomme.webp') }}"
                                     alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            {% endif %}
                        {% else %}
                            <img src="{{ asset(profil_pic_dir ~ '/' ~ user.posterFile) }}" alt="avatar1"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        <h5 class="my-3">{{ user.prenom }} {{ user.nom }}</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center">
                            {% if app.user.id == user.id %}
                                <a href="{{ path('app_update_profil', {'id': user.id}) }}">
                                    <button class="button-profil-background">Modifier</button>
                                </a>
                                {% if not is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_delete_profil', {'id': user.id}) }}">
                                        <button class="button-profil">Supprimer</button>
                                    </a>
                                {% endif %}
                            {% else %}
                                <button type="button" class="button-profil-background">Follow</button>
                                <a class="button-profil"
                                   href="{{ path('app_message_user', {'id': user.id}) }}">Message</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom complet</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.prenom }} {{ user.nom }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Téléhone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.telephone }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Sexe</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.sexe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if not sortie is empty %}
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    {% if sortie | length > 1 %}
                                    <p class="mb-4"><span class="text-primary font-italic me-1">Sorties</span> créées
                                    </p>
                                    {% else %}
                                        <p class="mb-4"><span class="text-primary font-italic me-1">Sortie</span> créée
                                        </p>
                                    {% endif %}
                                    {% for sortie in sortie %}
                                        <div class="right-container">

                                            <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}"><h6
                                                        class="titreSortieProfil">{{ sortie.nom }}</h6></a>
                                            <h5>
                                                le {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y à H:i') : '' }}
                                                - {{ sortie.duree }}</h5>
                                            <p><b>Description de la sortie: </b><br>{{ sortie.infosSortie }}</p>
                                            <hr>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if not inscrit is empty %}
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    {% if inscrit | length > 1 %}
                                    <p class="mb-4"><span class="text-primary font-italic me-1">Evenements</span> rejoints
                                    </p>
                                    {% else %}
                                        <p class="mb-4"><span class="text-primary font-italic me-1">Evenement</span> rejoint
                                        </p>
                                    {% endif %}
                                    {% for sortie in inscrit %}
                                        <div class="right-container">

                                            <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}"><h6
                                                        class="titreSortieProfil">{{ sortie.nom }}</h6></a>
                                            <h5>
                                                le {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y à H:i') : '' }}
                                                - {{ sortie.duree }}</h5>
                                            <p><b>Description de la sortie: </b><br>{{ sortie.infosSortie }}</p>
                                            <hr>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if sortie is empty and inscrit is empty %}
                        {% if 'ROLE_ADMIN' not in user.roles %}
                            <h1 style="font-size: 1.8em">Vous n'avez créé aucune sortie et ne participez à rien !</h1>
                        {% else %}
                            <h1 style="font-size: 1.8em">T'es un admin bg, tu participes pas aux sorties</h1>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </section>

    <div class="margin"></div>

{% endblock %}


