{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}

    <div class="sortie-detail">

        <h1>Annuler l'évènement : {{ sortie.nom }}</h1>
        <div class="grid">

            <div class="left-container">
                {% if user.posterFile is null %}
                    {% if user.sexe =='femme' %}
                        <img src="{{ asset('img/femme-verte-aux-cheveux-bleus_24877-81805.jpg') }}"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                        <img src="{{ asset('img/avatarHomme.webp') }}"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}
                {% else %}
                    <img src="{{ asset(profil_pic_dir ~ '/' ~ user.posterFile) }}" alt="avatar1"
                         class="rounded-circle img-fluid" style="width: 150px;">
                {% endif %}
                <div class="padding"></div>
                <h4>Organisateur de l'évènement</h4>
                <h3><a href="{{ path('app_profil', {'id': user.id}) }}">{{ user.prenom }} {{ user.nom }}</a></h3>
            </div>

            <div class="right-container">


                <div class="padding"></div>


                <h5>Date & heure de début</h5>
                <p>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</p>

                <h5>Ville organisatrice</h5>
                <p>{{ sortie.site.nom | upper }}</p>

                <h5>Lieu</h5>
                <p>{{ sortie.lieu.rue ~ ' ' ~ sortie.lieu.ville.codePostal ~ ' ' ~ sortie.lieu.ville.nom }}</p>

                <h5>Motif de l'annulation</h5>


                {{ form_start(form) }}
                {{ form_rest(form) }}

                <div class="padding"></div>

                <div class="buttons">
                    <button class="button-background" type="submit">Enregistrer</button>

                    <a href="{{ path('app_sortie_index') }}" class="button-background">
                        <i class="fa-solid fa-arrow-rotate-left"></i> Retour à la
                        liste
                    </a>
                </div>
                {{ form_end(form) }}


            </div>

        </div>

    </div>

    <div class="padding"></div>


    {% if app.user.email == sortie.organisateur.email %}
        {% if not sortie.isPublished %}
            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
        {% endif %}
    {% endif %}
{% endblock %}
