{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <div class="search-form">
        <h1>Rechercher une sortie spécifique</h1>
        {{ form_start(searchForm) }}
        <div class="flex">
            {{ form_row(searchForm.site) }}
            {{ form_row(searchForm.search) }}
            {{ form_row(searchForm.dateDebut) }}
            {{ form_row(searchForm.dateFin) }}
        </div>
        <div class="flex">
            <div class="gap">
                {{ form_widget(searchForm.organisateur) }}
                {{ form_label(searchForm.organisateur) }}
            </div>
            <div class="gap">
                {{ form_widget(searchForm.participant) }}
                {{ form_label(searchForm.participant) }}
            </div>
            <div class="gap">
                {{ form_widget(searchForm.nonParticipant) }}
                {{ form_label(searchForm.nonParticipant) }}
            </div>
            <div class="gap">
                {{ form_widget(searchForm.finished) }}
                {{ form_label(searchForm.finished) }}
            </div>
        </div>
        <div class="center">
            <div class="padding"></div>
            <button type="submit" class="search-button">
                Rechercher
            </button>
        </div>
    </div>
    {{ form_end(searchForm) }}
    </div>

    <div class="margin"></div>

    <div class="button">
        <a href="{{ path('app_sortie_new') }}"><button>Ajouter une sortie <i class="fa-solid fa-plus"></i></button></a>
    </div>

    <div class="padding"></div>

    <div class="container">
        {% for sortie in sorties %}
            <div class="sortie">
                <div class="inside">
                    <h3>{{ sortie.nom }}</h3>
                    <h4>le {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y à H:i') : '' }}
                        - {{ sortie.duree }}h</h4>
                    <h5>Date limite d'inscription: <br>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</h5>
                    <h5>Participants {{ sortie.inscrits | length }} / {{ sortie.nbInscriptionMax }}</h5>
                    <p>Description de la sortie: <br>{{ sortie.infosSortie }}</p>
                </div>
            </div>

        {% else %}
            <h3>Aucune sortie d'organisée</h3>

            <td>
                <div class="flex">
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}"><i
                                class="fa-solid fa-magnifying-glass"></i></a>
                    {% if app.user.email == sortie.organisateur.email %}
                        {% if not sortie.isPublished %}
                            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}"><i
                                        class="fa-solid fa-pencil"></i></a>
                        {% endif %}
                        <a href="{{ path('app_sortie_delete', {'id': sortie.id}) }}"><i
                                    class="fa-solid fa-trash-can"></i></a>
                    {% endif %}
                </div>
            </td>
        {% endfor %}

    </div>

    <div class="margin"></div>


{% endblock %}
