{% extends 'base.html.twig' %}

{% block title %}EniSorties | Détail sortie{% endblock %}

{% block body %}

    <a href="{{ path('app_sortie_index') }}">
        <button class="button-background"><i class="fa-solid fa-arrow-rotate-left"></i> Retour à la liste</button>
    </a>

    <div class="sortie-detail">

        <h1>{{ sortie.nom }}</h1>
        <div class="grid">

            <div class="left-container">
                {% if user.posterFile is null %}
                    {% if user.sexe =='femme' %}
                        <img src="{{ asset('img/avatarFemme.png') }}"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                        <img src="{{ asset('img/avatarHomme.webp') }}"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}
                {% else %}
                    <img src="{{ asset(profil_pic_dir ~ '/' ~ user.posterFile) }}" alt="avatar1"
                         class="rounded-circle img-fluid" style="width: 150px;">
                {% endif %}
                <div class="padding"></div>
                <h4>Organisateur de l'évènement</h4>
                <h3><a href="{{ path('app_profil', {'id': user.id}) }}">{{ user.prenom }} {{ user.nom }}</a></h3>
            </div>

            <div class="right-container">


                <div class="padding"></div>


                <h5>Date & heure de début</h5>
                <p>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</p>

                <h5>Durée de l'évènement</h5>
                <p>{{ sortie.duree }}</p>

                <h5>Date limite de l'inscription</h5>
                <p>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</p>

                <h5>Nombre d'inscription maximum</h5>
                <p>{{ sortie.nbInscriptionMax }}</p>

                <h5>Description de l'évènement</h5>
                <p>{{ sortie.infosSortie }}</p>

                {% if sortie.inscrits is not empty %}
                    <h4>Participants</h4>
                    <div class="flex-participants">
                        {% for inscrit in sortie.inscrits %}
                            <div class="participant">
                                <a href="{{ path('app_profil', {'id': inscrit.id}) }}">
                                    {% if inscrit.posterFile is null %}
                                        {% if inscrit.sexe =='femme' %}
                                            <img src="{{ asset('img/avatarFemme.png') }}"
                                                 alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                        {% else %}
                                            <img src="{{ asset('img/avatarHomme.webp') }}"
                                                 alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                        {% endif %}
                                    {% else %}
                                        <img src="{{ asset(profil_pic_dir ~ '/' ~  inscrit.posterFile) }}"
                                             alt="avatar1"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                    {% endif %}
                                    <p class="inscrit-nom">{{ inscrit.prenom }} {{ inscrit.nom }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                    <div>
                        {% if sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
                            {% if app.user != sortie.organisateur and app.user in sortie.inscrits %}
                                <a href="{{ path('app_sortie_unsubscribe', {'id': sortie.id}) }}">
                                    <button class="button-profil-background">
                                        Se désincrire de
                                        l'évènement
                                    </button>
                                </a>
                                <div class="padding"></div>
                            {% elseif app.user != sortie.organisateur and 'ROLE_ADMIN' not in app.user.roles %}
                                <a href="{{ path('app_sortie_suscribe', {'id': sortie.id}) }}">
                                    <button class="button-profil-background">S'inscrire
                                        à l'évènement
                                    </button>
                                </a>
                                <div class="padding"></div>
                            {% endif %}

                        {% endif %}
                    </div>
                <div>
                    {% if app.user == sortie.organisateur %}
                        {% if sortie.etat.libelle == "Ouverte" %}
                            <a class="button-profil-background"
                               href="{{ path('app_sortie_cancel', {'id': sortie.id}) }}">
                                Annuler
                                l'évènement
                            </a>
                            <div class="padding"></div>
                        {% endif %}
                        {% if sortie.etat.libelle == "Créée" %}
                            <a class="button-profil-background" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">
                                Modifier
                            </a>
                            <div class="padding"></div>
                            {% include "sortie/_delete_form.html.twig" %}
                        {% endif %}
                        <div class="padding"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="padding"></div>
{% endblock %}
