{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <th>DateHeureDebut</th>
            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ sortie.duree }}</td>
        </tr>
        <tr>
            <th>DateLimiteInscription</th>
            <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>NbInscriptionMax</th>
            <td>{{ sortie.nbInscriptionMax }}</td>
        </tr>
        <tr>
            <th>InfosSortie</th>
            <td>{{ sortie.infosSortie }}</td>
        </tr>
        <tr>
            <th>Action</th>
            <td>
                {% if app.user in sortie.inscrits and app.user != sortie.organisateur %}
                    <a class="btn btn-primary btn-sm" href="{{ path('app_sortie_unsubscribe', {'id': sortie.id}) }}">Se
                        désincrire
                        de l'évènement</a>
                {% elseif app.user != sortie.organisateur %}
                    <a class="btn btn-primary btn-sm" href="{{ path('app_sortie_suscribe', {'id': sortie.id}) }}">S'inscrire
                        à l'évènement</a>
                {% endif %}
                {% if app.user == sortie.organisateur %}
                    <a class="btn btn-primary btn-sm" href="{{ path('app_sortie_cancel', {'id': sortie.id}) }}">Annuler
                        l'évènement</a>
                {% endif %}

            </td>
        </tr>
        </tbody>
        <tr>
            <th>Participant</th>
            <td>
                {% for participant in sortie.inscrits %}
                    <a href="{{ path('app_profil', {'id': participant.id}) }}">{{ participant.nom }} {{ participant.prenom }}</a>
                {% endfor %}
            </td>
        </tr>

        </tr>

    </table>

    <a href="{{ path('app_sortie_index') }}">back to list</a>

    {% if app.user.email == sortie.organisateur.email %}
        {% if not sortie.isPublished %}
            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
            {{ include('sortie/_delete_form.html.twig') }}
        {% endif %}

    {% endif %}
{% endblock %}
