{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}


    <a href="{{ path('app_list_site') }}">
        <button class="button-background"><i class="fa-solid fa-arrow-rotate-left"></i> Retour à la liste</button>
    </a>

    <div class="ajout-ville" style="max-width: 800px;">
    <h1>Ajouter un nouveau site</h1>

        <div class="margin"></div>

    {{ form_start(siteForm) }}
    {{ form(siteForm) }}

        <div class="padding"></div>

        <div class="button">
            <a href="{{ path('app_sortie_new') }}">
                <button>AJOUTER UN SITE <i class="fa-solid fa-plus"></i></button>
            </a>
        </div>
        {{ form_end(siteForm) }}

    </div>

    <div class="margin"></div>


{% endblock %}