{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Envoyer un message a {{ user.nom }} {{ user.prenom }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <div class="button">
        <div class="padding"></div>
        <button type="submit">
            Envoyer
        </button>
        <div class="padding"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}