{% extends 'base.html.twig' %}
{% block title %}Liste utilisateurs!{% endblock %}
{% block body %}

    <div class="search-form-users">
        <div class="margin"></div>
        <h1 class="d-flex justify-content-center my-3">Liste des utilisateurs</h1>
        <div class="margin"></div>
        <div class="flex-users">
            {{ form_start(userForm) }}
            {{ form(userForm) }}
            <button type="submit" class="button-profil-background">
                Rechercher
            </button>
            {{ form_end(userForm) }}
        </div>

        <div class="margin"></div>

        <div class="grid-users">
            {% for user in user %}
                <ul class="bg-blue">
                    <li class="flex">
                        <div class="user">{{ user.nom }} {{ user.prenom }}</div>
                        <div>
                            <button class="button-i">
                                <a href="{{ path('app_detail_user', {'id': user.id}) }}"><i
                                            class="fa-solid fa-magnifying-glass"></i></a>
                            </button>
                            <button class="button-i">
                                <a href="{{ path('app_delete_user', {'id': user.id}) }}"><i
                                            class="fa-solid fa-trash-can"></i></a>
                            </button>
                            <button class="button-i">
                                <a href="{{ path('app_desactivate_user', {'id': user.id}) }}">{{ user.actif ? "Desactiver" : "Activer" }}</a>
                            </button>
                        </div>
                    </li>
                </ul>

            {% endfor %}
        </div>
        <div class="margin"></div>
    </div>



{% endblock %}